.post {
    background-color:aliceblue;
    padding: 5px;
    padding-top: 15px;
    box-shadow: 2px 6px 5px rgb(128, 135, 136);
}

.evenComment {
    background-color: azure;
    box-shadow: 1px 2px 4px rgb(128, 135, 136);
    padding-top: 3px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.oddComment {
    background-color: rgb(236, 248, 250);
    box-shadow: 1px 2px 4px rgb(128, 135, 136);
    padding-top: 3px;
    margin-bottom: 10px;
    word-wrap: break-word;
}

.header {
    background-color:cornflowerblue;
    padding-left: 10px;
    padding-right: 10px;
}

.navLink {
    color:rgb(255, 255, 255);
}

.commentInfo {
    color: #6e6f70;
    font-size: 14px;
}

.commentText {
    padding-top: 5px;
}

.postInfo {
    color: #6e6f70;
    font-size: 14px;
}

#commentErrorMessage {
    color: rgb(235, 30, 30);
    font-weight: bold;
    font-size: small
}

.deleteButton {
    float: right
}

h2, h3 {
    color: rgb(47, 93, 180)
}